/.idea/
obj/
bin/
packages/
*.suo
/.vs/MusicRenameWithMetadata/DesignTimeBuild/.dtbcache.v2
*.testlog
/.vs/MusicRenameWithMetadata/v16/TestStore/0/testlog.manifest
/.vs/MusicRenameWithMetadata/v17/.futdcache.v1
/.vs/MusicRenameWithMetadata/config/applicationhost.config
MusicMetadataRenamer/Properties/launchSettings.json
